@use "../variables/colors" as *;
@use "../variables/media" as *;
@use "../variables/font" as *;
@use "../helpers/mixins.scss" as *;

body {
  height: 100vh;
  @include media("s-mobile") {
    height: auto;
  }
  background-color: $light_gray;
  @include center;
}
main {
  height: 100%;
  @include center;
  flex-direction: column;
  @include media("mobile") {
    height: auto;
  }
  section {
    position: relative;
    background-color: $white;
    box-shadow: 0 12px 40px $shadow_color;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include media("mobile") {
      margin: 100px 30px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
    }
    @include media("desktop") {
      width: 750px;
    }
    .offer {
      grid-column: span 2;
      padding: $padding;
      @include media("mobile") {
        padding: $padding - 25;
      }
      h1 {
        font-size: $font_size + 12;
        color: $cyan;
        margin-bottom: 25px;
        @include media("mobile") {
          font-size: $font_size + 5;
        }
      }
      h2 {
        font-size: $font_size + 5;
        color: $yellow;
        margin-bottom: 20px;
        @include media("mobile") {
          font-size: $font-size;
        }
      }
      p {
        font-size: $font_size + 2;
        font-weight: 500;
        color: #a8acb9;
        line-height: 1.5;
        @include media("mobile") {
          font-size: $font_size - 3;
          line-height: 2;
        }
      }
    }
    .subs {
      background-color: $cyan;
      padding: $padding;
      color: $white;
      @include media("mobile") {
        padding: $padding - 25;
      }
      h2 {
        margin-bottom: 30px;
        + p {
          font: {
            size: 40px;
            weight: bold;
          }
          display: flex;
          align-items: center;
          gap: 15px;
          margin-bottom: 10px;
          span {
            color: rgba(255, 255, 255, 0.5);
            font: {
              size: $font_size;
              weight: initial;
            }
          }
        }
        @include media("mobile") {
          font-size: $font_size + 3;
          margin-bottom: 20px;
          + p {
            font: {
              size: 34px;
            }
          }
        }
      }
      p:nth-of-type(2) {
        font-size: $font_size + 2;
        margin-bottom: 30px;
        color: #ffffffc7;
        @include media("mobile") {
          font-size: $font_size;
        }
      }
      button {
        background-color: $yellow;
        color: $btn_color;
        font: {
          weight: bold;
          size: $font_size + 2;
        }
        border-radius: 10px;
        border: none;
        width: 100%;
        padding: 20px;
        cursor: pointer;
        box-shadow: 0 3px 10px $light_shadow;
        transition: box-shadow 0.3s;
        &:hover {
          box-shadow: 0 12px 40px $shadow_color;
        }
        @include media("mobile") {
          border-radius: 5px;
          padding: 15px;
          font-size: $font_size;
          box-shadow: 0 12px 40px $shadow_color;
        }
      }
    }
    .pros {
      @extend .subs;
      background-color: $light_cyan;
      ul {
        color: $off_white;
        li {
          margin-bottom: 5px;
        }
        @include media("mobile") {
          font-size: $font_size - 1;
        }
      }
    }
  }
}

footer {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  @include media("mobile") {
    bottom: auto;
    top: 35px;
  }
}
footer a {
  color: $off_blue;
}
