$white: #fff;
$off_white: rgba(255, 255, 255, 0.7);
$yellow: #c0df34;
$btn_color: #fdffd9;
$cyan: #2ab2af;
$light_cyan: #4abebd;
$light_gray: #d6e2f0;
$grayish_blue: #7b879d;
$dark_blue: #1f3251;
$off_blue: #3e52a3;
$light_shadow: rgba(0, 0, 0, 0.1);
$shadow_color: rgba(0, 0, 0, 0.2);
$darker_shadow: rgba(0, 0, 0, 0.7);
